@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contacto";
}
<style>
    p{
        color:black;
        font-size:1em;
    }

</style>

 <script>

</script>

<h1>Pagina Contacto

</h1>
<div>
    <p>Esta pagina contiene imagenes del club atletico boca juniors<br/>
        correo: cabj1234@gmail.com <br/>
        tel: 1109909000<br/>
        dirección:Piedrabuena 222
    </p>
       <button onclick="alerta()">Alerta</button>
</div>