@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"> 
    <h1 class="display-4">Club Atletico BOCA JUNIORS</h1>
    <h3>la mitad mas 1.</h3>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/CABJ70.png/1200px-CABJ70.png" width="500" height="500""/>
</div>
<body>
    <div class="imagenes">
        <img src="https://images.pagina12.com.ar/styles/focal_3_2_960x640/public/2024-04/832790-cavani.jpg?h=ada05aa9&itok=RIcECjts" alt="Edinson Cavani" width="300" height="200">
     
        <br/>
        <img src="https://assets.goal.com/images/v3/bltae9ffaf46a6636e8/806a4d84ca9ada9dbe38117a69b418ef9b3364c2.jpg?auto=webp&format=pjpg&width=3840&quality=60" alt="Marcos Rojo" width="300" height="200">
   
    </div>
</body>